	<footer class="footer">
		<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h4>Elérhetőségek:</h4>
				<address>
					<p>
					<i class=" glyphicon glyphicon-envelope"></i>&nbsp;<span>tenshindo@gmail.com</span>
					</p>
					<p>
					<i class=" glyphicon glyphicon-phone"></i>&nbsp;<span>06-70-416-93-77</span>
					</p>
				</address>
				<h4>Ideiglenes postázási cím:</h4>
				<address>
					<p>4200 Hajdúszoboszló, Tury utca 51.</p>
				</address>
				
			</div>
			<div class="col-md-4">
				<h4>Számlázási cím:</h4>
				<p>4200 Hajdúszoboszló, Bajcsy-Zs. utca 68.</p>
				<h4>Számlaszám:</h4>
				<p>59900043-10004531</p>
				<p>Balmazújváros és vidéke Takarékszöv.</p>
				
			</div>
			<div class="col-md-4">
				<h4><a href="https://www.facebook.com/pages/Ten-Shin-Karate-Sportegyesulet/351489968287685" target="_blank"><i class="fa fa-facebook-square social"></i> facebook</a></h4>
				<h4><a href="http://www.youtube.com/user/tenshindo"><i class="fa fa-youtube-square social" target="_blank"></i> youtube</a></h4>
			</div>
			
		</div>
		</div>
	</footer>